<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach(function(pizza) { %>
        <div class="w-full md:w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= pizza.price %></span>
                    <!-- add to cart button -->
                    <button data-pizza="<%= JSON.stringify(pizza) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</section>
<!--starting of footer-->
<footer>
    <div class="container">
        <div class="box">
            <h3>About us</h3>
            <p>It was popularised in the 1960 with the release of Latest sheets containing Lorem Ipsum
                passage.</p>
            <button class="btn btn-secondary">Read More</button>
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>

            </ul>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
            <div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="./icons/facebook.svg" alt="">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/icons/twitter.svg" alt="">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/icons/google.svg" alt="">
                            <span>Google +</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/icons/instagram.svg" alt="">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box instagram-api">
            <h3>Instagram</h3>
            <div class="post-wrap">
                <div>
                    <img src="/img/pizza.png" alt="hiii">
                </div>
                <div>
                    <img src="/img/pizza.png" alt="hloo">
                </div>
                <div>
                    <img src="/img/pizza.png" alt="baby">
                </div>
                <div>
                    <img src="/img/pizza.png" alt="good">
                </div>
                <div>
                    <img src="/img/pizza.png" alt="love">
                </div>
                <div>
                    <img src="/img/pizza.png" alt="what">
                </div>
            </div>
        </div>
    </div>
</footer>

